@model Department
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<!--//Department/SaveAdd?DepartmentName=Automation&ManagerName=MostafaElghannam-->
<form method="post" action="/Department/SaveAdd">

    <div>

        <label>Department name</label>

        <input name="DepartmentName" id="DepartmentName" value="@Model?.DepartmentName" type="text" class="form form-control" />

    </div>
    
    <div>

        <label>Manager name</label>

        <input name="ManagerName" id="ManagerName" value="@Model?.ManagerName" type="text" class="form form-control" />

    </div>

    <input style="margin:10px" type="submit" value="Create" class="btn btn-primary" />

</form>

<a href="/Department/DeptList">Back to Department List</a>